@using AppFront.Shared.Components
@using Mars.Nodes.Core
@using Mars.Nodes.Core.Attributes
@using Mars.Nodes.FormEditor
@using Mars.Nodes.FormEditor.EditForms.Components
@using Microsoft.FluentUI.AspNetCore.Components
@inherits NodeEditForm
@attribute [NodeEditFormForNode(typeof(TelegramReceiverNode))]

<div class="form-group compact" style="--fluent-input-label-basis:150px">
    <div class="vstack gap-2">

        <FormItem2 For="()=>Node.Config">
            <InputConfigField @bind-Value=@Node.Config TConfig="TelegramConfigNode" />
        </FormItem2>

    </div>
</div>

@code {
    [CascadingParameter] Node? Value { get; set; }
    TelegramReceiverNode Node { get => (TelegramReceiverNode)Value!; set => Value = value; }

}

