@using AppFront.Shared.Components
@using Mars.Nodes.Core
@using Mars.Nodes.Core.Attributes
@using Mars.Nodes.FormEditor
@using Mars.Nodes.FormEditor.EditForms.Components
@using Microsoft.FluentUI.AspNetCore.Components
@inherits NodeEditForm
@attribute [NodeEditFormForNode(typeof(TelegramConfigNode))]

<div class="form-group compact" style="--fluent-input-label-basis:150px">
    <div class="vstack gap-2">

        <FormItem2 For="()=>Node.Token">
            <FluentTextField @bind-Value=@Node.Token Class="w-100" />
        </FormItem2>

        <FormItem2 For="()=>Node.BotName">
            <FluentTextField @bind-Value=@Node.BotName Class="w-100" />
        </FormItem2>

    </div>
</div>

@code {
    [CascadingParameter] Node? Value { get; set; }
    TelegramConfigNode Node { get => (TelegramConfigNode)Value!; set => Value = value; }

}

